In [2]:
# This is a Jupyter notebook to check the data
# This section checks the data in data/other_data
    
# Importing libraries
import pandas as pd

In [3]:
seat_data = pd.read_csv('data/other_data/seats.csv')
seat_data.head()

,seat_id,seat_name,sitting_member_id,sitting_party_id,state,region
0,2,Deakin,2,2,Victoria,Eastern Melbourne
1,3,Adelaide,4,3,South Australia,Central Adelaide
2,4,Aston,6,3,Victoria,Eastern Melbourne
3,5,Ballarat,8,3,Victoria,Central Victoria
4,6,Banks,9,2,New South Wales,Southern Sydney

In [47]:
# Print number of seats and number of seats grouped by state
num_seats = seat_data.shape[0]
print(f'Number of seats: {num_seats}')
print('')

# Print number of seats grouped by state
print("Number of seats by state:")
print(seat_data.groupby('state')['seat_id'].count())
print('')

Number of seats: 150

Number of seats by state:
state
Australian Capital Territory     3
New South Wales                 46
Northern Territory               2
Queensland                      30
South Australia                 10
Tasmania                         5
Victoria                        38
Western Australia               16
Name: seat_id, dtype: int64

In [48]:
parties_data = pd.read_csv('data/other_data/parties.csv')
parties_data.head()

   party_id                         name  short_name abbreviation     colour
0         2   Liberal Party of Australia    Liberals           LP       blue
1         3       Australian Labor Party       Labor          ALP        red
2         4             One Nation Party  One Nation          ONP     orange
3         5             Teal Independent        Teal          TIN       teal
4         6  National Party of Australia   Nationals           NP  darkgreen

In [49]:
seat_data[['sitting_party_id','seat_id']].merge(parties_data[['party_id','short_name']], 
                                                left_on='sitting_party_id', 
                                                right_on='party_id')['short_name'].value_counts(dropna=False)

Labor                77
Liberals             24
Liberal Nationals    21
Nationals             9
Teal                  7
Independent           5
Greens                4
No Party Yet          1
Katter Party          1
Centre Alliance       1
Name: short_name, dtype: int64