In [3]:
import os,sys
import pandas as pd

In [4]:
demographics_folder = "2021_GCP_CED_for_AUS_short-header/2021 Census GCP Commonwealth Electroral Division for AUS"
demographic_db = pd.read_csv(f"{demographics_folder}/2021Census_G01_AUST_CED.csv",index_col="CED_CODE_2021")
cedcodemapper = pd.read_csv("CEDcodemapper.csv",index_col="CED_CODE_2021")
demographic_db.head()

,Tot_P_M,Tot_P_F,Tot_P_P,Age_0_4_yr_M,Age_0_4_yr_F,Age_0_4_yr_P,Age_5_14_yr_M,Age_5_14_yr_F,Age_5_14_yr_P,Age_15_19_yr_M,...,High_yr_schl_comp_Yr_8_belw_P,High_yr_schl_comp_D_n_g_sch_M,High_yr_schl_comp_D_n_g_sch_F,High_yr_schl_comp_D_n_g_sch_P,Count_psns_occ_priv_dwgs_M,Count_psns_occ_priv_dwgs_F,Count_psns_occ_priv_dwgs_P,Count_Persons_other_dwgs_M,Count_Persons_other_dwgs_F,Count_Persons_other_dwgs_P
CED_CODE_2021,,,,,,,,,,,,,,,,,,,,,
CED101,79869,83028,162893,4673,4196,8868,9699,9222,18924,4748,...,5349,827,1243,2069,76316,78974,155288,2899,3363,6265
CED102,90505,91139,181643,5116,4725,9848,9074,8572,17651,4379,...,7674,1352,1936,3290,85276,85928,171208,5012,5053,10065
CED103,93521,97697,191219,5407,5160,10569,11387,10682,22066,4820,...,3742,685,971,1652,88994,92886,181881,4180,4381,8567
CED104,75201,77373,152571,3577,3436,7012,11415,10329,21749,5546,...,2300,313,398,714,72665,74472,147129,1876,2477,4350
CED105,96511,92095,188607,6842,6475,13322,12945,12339,25283,6136,...,9551,2864,3371,6229,88864,85178,174044,7414,6700,14114

In [5]:
pct_df = pd.DataFrame(columns=['upto50k','50to99k','100to150k', '150kplus', '18to34', '35to49', '50to64',  '65plus', 'female', 'male','englishonly',  'nonenglish', 'christian', 'noreligion', 'notertiary', 'tafe', 'university'], index=demographic_db.index)
raw_df = pd.DataFrame(columns=['upto50k','50to99k','100to150k', '150kplus', '18to34', '35to49', '50to64',  '65plus', 'female', 'male','englishonly',  'nonenglish', 'christian', 'noreligion', 'notertiary', 'tafe', 'university'], index=demographic_db.index)

In [6]:
pct_df['male'] = demographic_db['Tot_P_M']/demographic_db['Tot_P_P']
pct_df['female'] = demographic_db['Tot_P_F']/demographic_db['Tot_P_P']
raw_df['male'] = demographic_db['Tot_P_M']
raw_df['female'] = demographic_db['Tot_P_F']

In [7]:
age_db = pd.read_csv(f"{demographics_folder}/2021Census_G04A_AUST_CED.csv",index_col="CED_CODE_2021")
age_db.head()

,Age_yr_0_M,Age_yr_0_F,Age_yr_0_P,Age_yr_1_M,Age_yr_1_F,Age_yr_1_P,Age_yr_2_M,Age_yr_2_F,Age_yr_2_P,Age_yr_3_M,...,Age_yr_53_F,Age_yr_53_P,Age_yr_54_M,Age_yr_54_F,Age_yr_54_P,Age_yr_50_54_M,Age_yr_50_54_F,Age_yr_50_54_P,Age_yr_55_M,Age_yr_55_F
CED_CODE_2021,,,,,,,,,,,,,,,,,,,,,
CED101,891,811,1706,954,800,1752,945,885,1826,935,...,1129,2145,906,998,1910,4857,5382,10237,989,1030
CED102,1089,962,2057,1014,970,1983,999,902,1901,1001,...,1109,2079,937,1031,1971,5119,5567,10690,969,1031
CED103,1034,994,2031,1030,1059,2083,1044,995,2046,1103,...,1134,2113,929,1031,1956,5194,5732,10928,1002,1098
CED104,582,518,1100,646,646,1292,730,697,1435,748,...,1130,2094,973,1047,2023,5324,5819,11142,987,1003
CED105,1294,1267,2566,1371,1294,2671,1391,1292,2686,1404,...,1029,2131,1026,911,1939,5294,5285,10575,1024,1008

In [8]:
adults = demographic_db[['Age_20_24_yr_P',
 'Age_25_34_yr_P',
 'Age_35_44_yr_P',
 'Age_45_54_yr_P',
 'Age_55_64_yr_P',
 'Age_65_74_yr_P',
 'Age_75_84_yr_P',
 'Age_85ov_P']].sum(axis=1) + age_db[['Age_yr_18_P',
 'Age_yr_19_P']].sum(axis=1)


pct_df['18to34'] = (demographic_db[['Age_20_24_yr_P','Age_25_34_yr_P',]].sum(axis=1) + age_db[['Age_yr_18_P', 'Age_yr_19_P']].sum(axis=1))/adults
pct_df['35to49'] = (demographic_db[['Age_35_44_yr_P']].sum(axis=1) + age_db[['Age_yr_45_P','Age_yr_46_P','Age_yr_47_P','Age_yr_48_P','Age_yr_49_P']].sum(axis=1))/adults
pct_df['50to64'] = (demographic_db[['Age_55_64_yr_P']].sum(axis=1) + age_db[['Age_yr_50_P','Age_yr_51_P','Age_yr_52_P','Age_yr_53_P','Age_yr_54_P']].sum(axis=1))/adults
pct_df['65plus'] = (demographic_db[[ 'Age_65_74_yr_P', 'Age_75_84_yr_P', 'Age_85ov_P']].sum(axis=1))/adults


raw_df['18to34'] = (demographic_db[['Age_20_24_yr_P','Age_25_34_yr_P',]].sum(axis=1) + age_db[['Age_yr_18_P', 'Age_yr_19_P']].sum(axis=1))
raw_df['35to49'] = (demographic_db[['Age_35_44_yr_P']].sum(axis=1) + age_db[['Age_yr_45_P','Age_yr_46_P','Age_yr_47_P','Age_yr_48_P','Age_yr_49_P']].sum(axis=1))
raw_df['50to64'] = (demographic_db[['Age_55_64_yr_P']].sum(axis=1) + age_db[['Age_yr_50_P','Age_yr_51_P','Age_yr_52_P','Age_yr_53_P','Age_yr_54_P']].sum(axis=1))
raw_df['65plus'] = (demographic_db[[ 'Age_65_74_yr_P', 'Age_75_84_yr_P', 'Age_85ov_P']].sum(axis=1))

In [9]:
pct_df

,upto50k,50to99k,100to150k,150kplus,18to34,35to49,50to64,65plus,female,male,englishonly,nonenglish,christian,noreligion,notertiary,tafe,university
CED_CODE_2021,,,,,,,,,,,,,,,,,
CED101,NaN,NaN,NaN,NaN,0.288927,0.253026,0.238007,0.220033,0.509709,0.490316,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CED102,NaN,NaN,NaN,NaN,0.350921,0.258209,0.200565,0.190392,0.501748,0.498258,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CED103,NaN,NaN,NaN,NaN,0.320287,0.282741,0.209033,0.187906,0.510917,0.489078,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CED104,NaN,NaN,NaN,NaN,0.215547,0.268323,0.266916,0.249282,0.507128,0.492892,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CED105,NaN,NaN,NaN,NaN,0.361755,0.249990,0.214521,0.173770,0.488290,0.511704,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CED803,NaN,NaN,NaN,NaN,0.355108,0.321917,0.185130,0.137895,0.502771,0.497242,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CED894,NaN,NaN,NaN,NaN,0.416350,0.287072,0.218631,0.091255,0.451240,0.555372,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CED897,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CED994,NaN,NaN,NaN,NaN,0.571429,0.000000,0.428571,0.000000,0.363636,0.545455,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CED997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
income_db = pd.read_csv(f"{demographics_folder}/2021Census_G17A_AUST_CED.csv",index_col="CED_CODE_2021")
income_db = income_db.combine_first(pd.read_csv(f"{demographics_folder}/2021Census_G17B_AUST_CED.csv",index_col="CED_CODE_2021"))
income_db.head()

,F_1000_1249_15_19_yrs,F_1000_1249_20_24_yrs,F_1000_1249_25_34_yrs,F_1000_1249_35_44_yrs,F_1000_1249_45_54_yrs,F_1000_1249_55_64_yrs,F_1000_1249_65_74_yrs,F_1000_1249_75_84_yrs,F_1000_1249_85ov,F_1000_1249_Tot,...,P_Neg_Nil_income_15_19_yrs,P_Neg_Nil_income_20_24_yrs,P_Neg_Nil_income_25_34_yrs,P_Neg_Nil_income_35_44_yrs,P_Neg_Nil_income_45_54_yrs,P_Neg_Nil_income_55_64_yrs,P_Neg_Nil_income_65_74_yrs,P_Neg_Nil_income_75_84_yrs,P_Neg_Nil_income_Tot,P_Negtve_Nil_incme_85_yrs_ovr
CED_CODE_2021,,,,,,,,,,,,,,,,,,,,,
CED101,21,552,1459,1159,1092,907,362,109,32,5695,...,4809,1096,1380,1364,1278,2106,1892,765,15025,330
CED102,25,638,2230,1335,1113,822,300,92,30,6583,...,4461,1491,2141,1608,1415,2089,1955,902,16444,385
CED103,20,618,2088,1379,1055,933,457,165,69,6784,...,5009,1703,2312,2197,1495,2267,2248,935,18496,335
CED104,20,439,754,902,1085,931,565,217,64,4979,...,5401,833,671,1087,1136,1663,1743,779,13675,367
CED105,27,569,1395,1005,862,640,204,42,16,4752,...,6273,1941,3409,2433,2106,2647,1771,764,21617,272

In [11]:
'100to150k', '150kplus','50to99k', 'upto50k'

('100to150k', '150kplus', '50to99k', 'upto50k')

In [12]:
income_upt50k_cols = ['M_Neg_Nil_income_Tot', 'M_1_149_Tot', 'M_150_299_Tot', 'M_300_399_Tot', 'M_400_499_Tot', 'M_500_649_Tot', 'M_650_799_Tot', 'M_800_999_Tot', 'F_Neg_Nil_income_Tot', 'F_1_149_Tot', 'F_150_299_Tot', 'F_300_399_Tot', 'F_400_499_Tot', 'F_500_649_Tot', 'F_650_799_Tot', 'F_800_999_Tot']
income_50to99k = ['M_1000_1249_Tot', 'M_1250_1499_Tot', 'M_1500_1749_Tot', 'M_1750_1999_Tot', 'F_1000_1249_Tot', 'F_1250_1499_Tot', 'F_1500_1749_Tot', 'F_1750_1999_Tot',]
income100to150k = ["M_2000_2999_Tot","F_2000_2999_Tot"]
income150kplus = [ 'M_3000_3499_Tot', 'M_3500_more_Tot','F_3000_3499_Tot', 'F_3500_more_Tot',]

raw_df['upto50k'] = income_db[income150kplus].sum(axis=1)
raw_df['50to99k'] = income_db[income_50to99k].sum(axis=1)
raw_df['100to150k'] = income_db[income100to150k].sum(axis=1)
raw_df['150kplus'] = income_db[income150kplus].sum(axis=1)

pct_df['upto50k'] = income_db[income150kplus].sum(axis=1) / raw_df[['100to150k', '150kplus','50to99k', 'upto50k']].sum(axis=1)
pct_df['50to99k'] = income_db[income_50to99k].sum(axis=1) / raw_df[['100to150k', '150kplus','50to99k', 'upto50k']].sum(axis=1)
pct_df['100to150k'] = income_db[income100to150k].sum(axis=1) / raw_df[['100to150k', '150kplus','50to99k', 'upto50k']].sum(axis=1)
pct_df['150kplus'] = income_db[income150kplus].sum(axis=1) / raw_df[['100to150k', '150kplus','50to99k', 'upto50k']].sum(axis=1)

In [13]:
language_db = pd.read_csv(f"{demographics_folder}/2021Census_G13C_AUST_CED.csv",index_col="CED_CODE_2021")
language_db = language_db.combine_first(pd.read_csv(f"{demographics_folder}/2021Census_G13E_AUST_CED.csv",index_col="CED_CODE_2021"))
language_db.head()

,FOL_IAL_Oth_NS,FOL_IAL_Oth_Tot,FOL_IAL_Tot_NS,FOL_IAL_Tot_SEO,FOL_IAL_Tot_Tot,FOL_IAL_Tot_UOLSE_NWorNAA,FOL_IAL_Tot_UOLSE_Tot,FOL_IAL_Tot_UOLSE_VWorW,FOL_Italian_NS,FOL_Italian_SEO,...,P_LUatH_NS_Tot,P_LUatH_NS_UOLSE_NWorNAA,P_LUatH_NS_UOLSE_Tot,P_LUatH_NS_UOLSE_VWorW,P_Tot_NS,P_Tot_SEO,P_Tot_Tot,P_Tot_UOLSE_NWorNAA,P_Tot_UOLSE_Tot,P_Tot_UOLSE_VWorW
CED_CODE_2021,,,,,,,,,,,,,,,,,,,,,
CED101,3,121,30,..,4182,241,4151,3910,0,..,...,7480,158,945,784,7154,79993,162893,14719,75749,61030
CED102,0,151,50,..,5910,357,5861,5509,7,..,...,10745,335,1502,1165,10085,67338,181643,19339,104218,84882
CED103,0,400,33,..,4689,186,4648,4461,16,..,...,7653,215,997,790,7573,83398,191219,17362,100243,82882
CED104,0,283,16,..,3551,152,3535,3382,3,..,...,4111,63,543,482,3954,102018,152571,5704,46606,40900
CED105,0,112,60,..,7186,630,7129,6504,7,..,...,16170,438,1701,1257,15533,45785,188607,31546,127282,95736

In [14]:
raw_df['englishonly'] = language_db["PSEO_Tot"]
raw_df['nonenglish'] = language_db["POL_Tot_Tot"]

pct_df['englishonly'] = language_db["PSEO_Tot"] / raw_df[['englishonly','nonenglish']].sum(axis=1)
pct_df['nonenglish'] = language_db["POL_Tot_Tot"] / raw_df[['englishonly','nonenglish']].sum(axis=1)

In [15]:
religion_db = pd.read_csv(f"{demographics_folder}/2021Census_G14_AUST_CED.csv",index_col="CED_CODE_2021")
religion_db.head()

,Buddhism_M,Buddhism_F,Buddhism_P,Christianity_Anglican_M,Christianity_Anglican_F,Christianity_Anglican_P,Christianity_Asyrin_Apstlic_M,Christianity_Asyrin_Apstlic_F,Christianity_Asyrin_Apstlic_P,Christianity_Baptist_M,...,SB_OSB_NRA_OSB_P,SB_OSB_NRA_Tot_M,SB_OSB_NRA_Tot_F,SB_OSB_NRA_Tot_P,Religious_affiliation_ns_M,Religious_affiliation_ns_F,Religious_affiliation_ns_P,Tot_M,Tot_F,Tot_P
CED_CODE_2021,,,,,,,,,,,,,,,,,,,,,
CED101,3004,4290,7292,6317,7480,13796,5,12,24,1427,...,205,23552,21144,44697,4718,4820,9533,79869,83028,162893
CED102,3950,5385,9333,3116,3461,6577,36,21,56,621,...,261,27432,25877,53307,6546,6217,12762,90505,91139,181643
CED103,3545,4986,8534,6002,6943,12946,64,75,138,1749,...,269,36908,34801,71710,5479,5360,10841,93521,97697,191219
CED104,1929,2547,4481,9657,11014,20673,8,6,12,1619,...,237,27902,25254,53154,3313,3147,6459,75201,77373,152571
CED105,6659,8014,14674,2537,2927,5463,36,28,60,831,...,124,15979,12763,28738,9611,8420,18027,96511,92095,188607

In [16]:
raw_df['christian'] = religion_db["Christianity_Tot_P"]
raw_df['noreligion'] = religion_db["SB_OSB_NRA_Tot_P"]

pct_df['christian'] = religion_db["Christianity_Tot_P"] / (raw_df[['christian','noreligion']].sum(axis=1))
pct_df['noreligion'] = religion_db["SB_OSB_NRA_Tot_P"] / (raw_df[['christian','noreligion']].sum(axis=1))

In [17]:
education_db = pd.read_csv(f"{demographics_folder}/2021Census_G49A_AUST_CED.csv",index_col="CED_CODE_2021")
education_db = education_db.combine_first(pd.read_csv(f"{demographics_folder}/2021Census_G49B_AUST_CED.csv",index_col="CED_CODE_2021"))
education_db.head()

,F_AdvDip_and_Dip_15_24,F_AdvDip_and_Dip_25_34,F_AdvDip_and_Dip_35_44,F_AdvDip_and_Dip_45_54,F_AdvDip_and_Dip_55_64,F_AdvDip_and_Dip_65_74,F_AdvDip_and_Dip_75_84,F_AdvDip_and_Dip_85ov,F_AdvDip_and_Dip_Total,F_BachDeg_15_24,...,P_PGrad_Deg_Total,P_Tot_15_24,P_Tot_25_34,P_Tot_35_44,P_Tot_45_54,P_Tot_55_64,P_Tot_65_74,P_Tot_75_84,P_Tot_85ov,P_Tot_Total
CED_CODE_2021,,,,,,,,,,,,,,,,,,,,,
CED101,602,1280,1549,1791,1407,825,304,110,7866,1339,...,10561,6595,18565,18105,15182,12839,7984,3998,2066,85336
CED102,784,1753,1707,1704,1222,633,265,74,8135,1708,...,15171,8311,29597,22537,15940,11613,6806,3431,1721,99949
CED103,529,1239,1558,1735,1551,1051,461,169,8291,1832,...,24458,7049,29100,28234,19112,15600,10112,4811,2225,116250
CED104,330,604,1115,1782,1678,1230,630,208,7586,1128,...,14927,4795,10544,17964,19443,16024,11237,5936,2447,88400
CED105,880,1745,1589,1363,844,425,168,47,7067,1390,...,7784,9090,22500,16539,11810,9088,5495,2677,1334,78536

In [18]:
sa1s = pd.read_csv("2021_GCP_SA1_for_NSW_short-header/2021 Census GCP Statistical Area 1 for NSW/2021Census_G60B_NSW_SA1.csv")["SA1_CODE_2021"]

In [21]:
raw_df['university'] = education_db[["P_BachDeg_Total", "P_PGrad_Deg_Total", "P_GradDip_and_GradCert_Total"]].sum(axis=1)
raw_df['tafe'] = education_db[["P_AdvDip_and_Dip_Total", "P_Cert_Lev_Tot_Total"]].sum(axis=1)
raw_df['notertiary'] = education_db["P_Tot_Total"] - raw_df['university'] - raw_df['tafe']


pct_df['university'] =  raw_df['university'] / raw_df[['university','tafe','notertiary']].sum(axis=1)
pct_df['tafe'] =  raw_df['tafe'] / raw_df[['university','tafe','notertiary']].sum(axis=1)
pct_df['notertiary'] =  raw_df['notertiary'] / raw_df[['university','tafe','notertiary']].sum(axis=1)

In [22]:
income_cols = ['upto50k', '50to99k', '100to150k', '150kplus']
age_cols = ['18to34', '35to49','50to64', '65plus',]
sex_cols = ['female', 'male']
language_cols = ['englishonly', 'nonenglish',]
religion_cols = ['christian', 'noreligion']
education_cols = ['notertiary', 'tafe', 'university']

In [ ]:
raw_df['DivisionNm'] = cedcodemapper['DivisionNm']
national_facts = raw_df.set_index('DivisionNm').sum(axis=0)
national_facts.name="raw"
national_facts.index.name="demographic"
national_facts.to_csv("raw_national_facts.csv")
national_facts = national_facts.astype(float)
for col_set in [income_cols,age_cols,sex_cols,language_cols,religion_cols,education_cols]:
    national_facts[col_set] =national_facts[col_set] / national_facts[col_set].sum()


national_facts.name="pct"
national_facts.index.name="demographic"
national_facts.to_csv("pct_national_facts.csv")

In [27]:
national_facts

demographic
upto50k        0.113829
50to99k        0.598116
100to150k      0.174226
150kplus       0.113829
18to34         0.290238
35to49         0.257501
50to64         0.232233
65plus         0.220028
female         0.506540
male           0.493460
englishonly    0.763691
nonenglish     0.236309
christian      0.529994
noreligion     0.470006
notertiary     0.134471
tafe           0.449694
university     0.415836
Name: pct, dtype: float64